@charset "UTF-8";

/*--------------------------------------------------
 * 모듈 | MODULE
 *
 * 재사용 가능한 컴포넌트 스타일링
 *--------------------------------------------------*/
 
/* 사운드리더 전용 (from `Twitter Bootstrap`) */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* 로딩 스로버 (from https://github.com/tobiasahlin/SpinKit) */
.throbber {
    width: 70px;

    > div {
        background: $picton-blue;
        border-radius: 100%;
        display: inline-block;
        width: 18px;
        height: 18px;
        @include animation(bouncedelay 1.4s infinite ease-in-out both);

        &:nth-child(1) {
            -webkit-animation-delay: -0.32s;
            animation-delay: -0.32s;
        }

        &:nth-child(2) {
            -webkit-animation-delay: -0.16s;
            animation-delay: -0.16s;
        }
    }
}

@include keyframes(bouncedelay) {
    0%,
    80%,
    100% {
        @include transform(scale(0));
    }
    40% {
        @include transform(scale(1.0));
    }
}


/* 섹션 제목 */
.section-heading {
    text-align: center;

    .primary {
        display: block;
        @include text-scale(3);
        @include chic-border;
    }
    .secondary {
        display: block;
        @include text-scale(1);
        opacity: .5;
    }

    + .section-content {
        margin-top: 5rem;
    }
}

/* 그룹, 홀더 */
.ui-group {
    margin: 1rem 0;
    padding: 0;
    text-align: center;

    &-item {
        display: inline-block;
    }
}

/* 버튼 */
.ui-button {
    background: $picton-blue;
    border-radius: 44px;
    color: white;
    display: inline-block;
    min-width: 7em;
    height: 44px;
    margin: 0;
    overflow: hidden;
    padding: 12px 16px 14px;
    vertical-align: middle;
    letter-spacing: -.03em;
    line-height: 18px;
    font: {
        family: $font-ui, sans-serif;
        size: 1rem;
        weight: $font-weight-bold;
    }
    text-align: center;
    box-sizing: border-box;
    @include user-select(none);
    @include ui-hover-background;
}

/* 드랍다운 메뉴 */
.ui-dropdown {
    background: $picton-blue;
    border-radius: 0 0 22px 22px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear .2s, opacity .2s;

    &-item {
        font-family: $font-ui, sans-serif;
        list-style: none;
        white-space: nowrap;

        a {
            color: white;
            display: block;
            padding: 3px 4px 5px;
            @include user-select(none);
            @include ui-hover-background;
        }
    }

    &-holder {
        position: relative;
    }

    &.is-expanded {
        display: block;
        visibility: visible;
        opacity: 1;
        transition: visibility 0s linear 0s, opacity .2s;
    }

    &-trigger {
        &.is-triggered {
            border-radius: 22px 22px 0 0;
        }
    }
}

/* 그림 아이콘을 동반하는 텍스트 */
.fi,
.iconed-text {
    display: inline-block;
    vertical-align: middle;
}
.iconed-text {
    margin-left: .5em;
}

/* 긴 */
.wrapped-text {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    @include hyphens(auto);
}

/* 불릿이 없는 리스트 */
.unstyled-list {
    padding: 0;
    list-style: none;
}

/* 체크 아이콘을 포함한 리스트 */
.checked-list {
    padding: 0;
    list-style: none;

    > li {
        position: relative;

        &::before {
            margin-right: .5em;
            @include font-icon;
            content: $icon-checked;
            line-height: 2;
        }
    }
}

/* 팔레트 */
.palette {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    list-style: none;

    &-item {
        border-radius: .25rem;
        float: left;
        width: 1.5rem;
        height: 1.5rem;

        & + .palette-item {
            margin-left: .5rem;
        }
    }

    &::after {
        @include clearfix;
    }
}

/* 카테고리 태그 (HTML, CSS, JS) */
.categ {
    border-radius: .25em;
    display: inline-block;
    min-width: 2em;
    padding: .35em .65em;
    line-height: 1;
    font: {
        family: $font-ui, sans-serif;
        size: .92rem;
    }
    text-align: center;

    &.html {
        background: #8dca35;
        color: white;
    }

    &.css {
        background: #00bfdd;
        color: white;
    }

    &.js {
        background: #ff702a;
        color: white;
    }
}

/* CSS 툴팁 */
[data-tooltip] {
    position: relative;

    &::before,
    &::after {
        display: block;
        position: absolute;
        bottom: 100%;
        left: 50%;
        z-index: 1000;
        opacity: 0;
        transition: opacity .3s ease-out;
        pointer-events: none;
    }
    
    &::before {
        background: rgba(black, .92);
        border-radius: .25em;
        box-shadow: 0 1px 5px -1px rgba(50, 50, 50, .5);
        color: white;
        margin-bottom: 6px;
        padding: 10px;
        content: attr(data-tooltip);
        font-size: 13px;
        line-height: 1.5;
        text-align: center;
        white-space: nowrap;
        @include transform(translateX(-50%));
    }

    &::after {
        border:{
            color: rgba(black, .92) transparent transparent transparent;
            style: solid;
            width: 6px 6px 0 6px;
        }
        width: 0;
        height: 0;
        margin-left: -6px;
        content: "";
    }

    &:hover {
        &::before,
        &::after {
            opacity: 1;
            pointer-events: auto;
        }
    }
}