@charset "UTF-8";

/*--------------------------------------------------
 * 테마 | THEME
 *
 * 디자인에 관련된 스타일링
 *--------------------------------------------------*/

/* 기초 */
html {
    font-size: $base-font-size; /* required for rem unit */
    @include experimental("text-rendering", optimizeLegibility, webkit, moz, o, ms);
    @include experimental("text-size-adjust", none, webkit, ms);
}

body {
    @extend html;
    color: black;
    line-height: $base-line-height;
    font: {
        family: $base-font;
        weight: $base-font-weight;
    }
}

/* 섹션 */
.l-section {
    background: white;
}

/* 메인 화면 | #hero
 ----------------------------------------*/
.hero-main {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
}

/* 로고 */
.logo {
    overflow: visible;
    line-height: 1;
    letter-spacing: -0.01em;
    font: {
        family: $font-ui, sans-serif;
        weight: $font-weight-bold;
    }
    text-align: center;
    white-space: nowrap;

    &-text {
        display: block;
        @include text-scale(5);

        &::before {
            display: inline-block;
            content: "(";
        }

        &::after {
            color: $bright-cerulean;
            position: absolute;
            transform: translateX(-100%) rotate(-90deg);
            top: -0.66em;
            left: 50%;
            content: ")";
        }
    
        &-orig {
            display: inline-block;

            &::first-letter {
                font-size: 0;
            }
        }
    }

    &-subtext {
        color: $spanish-grey;
        display: block;
        position: relative;
        top: -.25em;
        left: 1em;
        @include text-scale(3);
        font: {
            family: $font-ui, sans-serif;
            weight: 300;
        }
        text-transform: capitalize;
        white-space: nowrap;
    }
}

/* 캐치프레이즈 */
#catchphrase {
    margin: 0;
    font: {
        family: "Roboto", sans-serif;
    }
    text-align: center;
}

/* 저작권 표시 */
#copyright {
    position: absolute;
    top: 50px;
    left: 50%;
    @include transform(translateX(-50%));
    white-space: nowrap;
}

/* 컨티뉴 버튼 */
#continue {
    display: block;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: calc(50% - 44px);
}

#continueButton {
    color: inherit;
    display: block;
    width: 88px;
    height: 88px;
    position: relative;
    letter-spacing: .25em;
    @include text-scale(-2);
    text: {
        align: center;
        transform: uppercase;
    }

    &::before {
        width: 8em;
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
        opacity: 0;
        text-align: center;
        transition: visibility 0s linear .2s, opacity .2s;
        content: attr(data-hover-text);
    }

    > span {
        display: inline-block;
        position: relative;
        transition: all .5s;
        @include transform( perspective(1000px) rotate3d(0, 1, 0, 0) );
        @include backface-visibility(hidden);

        @for $i from 1 through 8 {
            &:nth-child(#{$i}) {
                transition-delay: 0.05s * $i;
            }
        }
    }

    &::after {
        background-color: $charleston-green;
        display: block;
        width: 1px;
        height: 50px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transition: height .4s;
        content: "";
    }

    &:hover {
        text-decoration: none;

        > span {
            @include transform( perspective(1000px) rotate3d(0, 1, 0, 180deg) );
        }

        &::before {
            visibility: visible;
            opacity: 1;
            transition: visibility 0s linear 0s, opacity .2s;
        }

        &::after {
            height: 20px;
        }
    }
}

/* 자기소개 | #description
 ----------------------------------------*/
#myself,
#skills {
    color: white;
    width: 50%;
}

#myself {
    background: $cyan-cornflower-blue;
    text-align: right;

    .section-heading {
        text-align: right;

        .primary {
        @include chic-border( lighten($cyan-cornflower-blue, 10) );

            &::after {
                margin: 0;
                right: 0;
                left: auto;
            }
        }
    }

    .section-content {
        margin-left: auto;
        //min-width: 20em;
        max-width: 35em;
    }
}

#skills {
    background: $bright-cerulean;
    text-align: left;

    .section-heading {
        text-align: left;
    }

    .primary {
        @include chic-border( lighten($bright-cerulean, 10) );

        &::after {
            margin: 0;
            left: 0;
        }
    }
}

/* 포트폴리오 | #works
 ----------------------------------------*/
#works {

}

.gallery {
    counter-reset: article;

    &-item {
        margin: 0 0 5rem;
        list-style: none;
        counter-increment: article;
    }

    &-figure {
        position: relative;
        display: flex;
        flex-flow: row wrap;
    }

    &-image {
        max-width: 800px;

        &-thumb {
            display: block;
            max-width: 100%; /* responsive */
            height: auto;
        }
    }

    &-caption {
        margin-left: 2rem;
        flex: 1;
    }

    &-title {
        position: relative;
        margin-bottom: 1.5em;

        &::before {
            color: $picton-blue;
            display: inline-block;
            width: 130px;
            position: relative;
            left: -0.05em;
            vertical-align: -0.1em;
            line-height: 1;
            @include text-scale(3);
            font-weight: 400;
            content: counter(article, decimal-leading-zero);
        }
    }

    &-desc {
        margin: 2em 0;

        &::after {
            @include clearfix;
        }

        dt,
        dd {
            float: left;
            line-height: 2.4;
        }

        dt {
            clear: left;
            min-width: 130px;
            padding-right: .5em;
            font-family: $font-ui, sans-serif;
        }

        dd {
            margin-left: 0;
        }
    }

    &-table {
        flex: 100%;

        &-col {
            &.category {
                width: 6em;
            }

            &.source {
                width: 25%;
            }
        }
    }

    &.alternate {
        > li:nth-child(even) {
            .gallery-caption {
                order: -1;
            }
        }
    }
}

/* 맨 위로 버튼 | #backToTop
 ----------------------------------------*/
#backToTop {
    position: fixed;
    right: 30px;
    bottom: 30px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear .3s, opacity .3s;

    &.is-visible {
        visibility: visible;
        opacity: 1;
        transition: visibility 0s linear 0s, opacity .3s;
    }

    &Button {
        background: white;
        border-radius: 50%;
        box-shadow: 0 2px 12px 1px rgba(black, .12);
        color: $spanish-grey;
        display: block;
        width: 64px;
        height: 64px;
        padding-top: 30px;
        box-sizing: border-box;
        transition: background .3s, color .3s;

        &:hover {
            background: $picton-blue;
            color: white;
            text-decoration: none;

            .icon {
                border-color: white;
            }
        }
    }

    .icon {
        border: solid $spanish-grey;
        border-width: 1px 0 0 1px;
        display: block;
        width: 16px;
        height: 16px;
        position: absolute;
        top: 16px;
        left: 50%;
        @include transform(translateX(-50%) rotate(45deg));
        transition: border-color .3s;
    }

    .text {
        display: block;
        line-height: 1;
        font-size: 11px;
        text: {
            align: center;
            transform: lowercase;
        }
    }
}

/* 푸터 | Footer
 ----------------------------------------*/
#footer {
    background: $charleston-green;

    &, a {
        color: white;
    }
}

.footer {
    &-heading {
    }

    &-content {
        margin-top: 2rem;
        font-family: $font-ui, sans-serif;
    }

    &-widget-group {
        padding: {
            top: 80px;
            bottom: 80px;
        }
        display: flex;
        flex-flow: row wrap;
    }

    &-widget {
        flex: 1 auto;
        padding: 1em 3em 1em 0;
    }
}

/* 크레딧 | #credits */
.credit {
    &-list {
        margin: 0 auto;
        padding: 0;
        list-style: none;
    }

    &-item {
        display: flex;
        flex-flow: row nowrap;
    }

    &-left,
    &-right {
    }

    &-left {
    }

    &-right {
        margin-left: 1em;
        opacity: .66;
    }
}

/* 문의처 | #contacts */


/* 푸터 하단 바 | #footerBase */
#footerBase {
    background: darken($charleston-green, 5);
    padding: {
        top: 40px;
        bottom: 40px;
    }
    text-align: center;
    @include text-scale(-1);
}