// Animations variables
$aos-distance: 100px !default;




/**
 * Fade animations:
 * fade
 * fade-up, fade-down, fade-left, fade-right
 * fade-up-right, fade-up-left, fade-down-right, fade-down-left
 */

[data-aos^="fade"][data-aos^="fade"] {
  opacity: 0;
  transition-property: opacity, -webkit-transform, -ms-transform, transform;

  &.aos-animate {
    opacity: 1;
    @include transform(translate3d(0, 0, 0));
  }
}

[data-aos="fade-up"] {
  @include transform(translate3d(0, $aos-distance, 0));
}

[data-aos="fade-down"] {
  @include transform(translate3d(0, -$aos-distance, 0));
}

[data-aos="fade-right"] {
  @include transform(translate3d(-$aos-distance, 0, 0));
}

[data-aos="fade-left"] {
  @include transform(translate3d($aos-distance, 0, 0));
}

[data-aos="fade-up-right"] {
  @include transform(translate3d(-$aos-distance, $aos-distance, 0));
}

[data-aos="fade-up-left"] {
  @include transform(translate3d($aos-distance, $aos-distance, 0));
}

[data-aos="fade-down-right"] {
  @include transform(translate3d(-$aos-distance, -$aos-distance, 0));
}

[data-aos="fade-down-left"] {
  @include transform(translate3d($aos-distance, -$aos-distance, 0));
}




/**
 * Zoom animations:
 * zoom-in, zoom-in-up, zoom-in-down, zoom-in-left, zoom-in-right
 * zoom-out, zoom-out-up, zoom-out-down, zoom-out-left, zoom-out-right
 */

[data-aos^="zoom"][data-aos^="zoom"] {
  opacity: 0;
  transition-property: opacity, -webkit-transform, -ms-transform, transform;

  &.aos-animate {
    opacity: 1;
    @include transform(translate3d(0, 0, 0) scale(1));
  }
}

[data-aos="zoom-in"] {
  @include transform(scale(.6));
}

[data-aos="zoom-in-up"] {
  @include transform(translate3d(0, $aos-distance, 0) scale(.6));
}

[data-aos="zoom-in-down"] {
  @include transform(translate3d(0, -$aos-distance, 0) scale(.6));
}

[data-aos="zoom-in-right"] {
  @include transform(translate3d(-$aos-distance, 0, 0) scale(.6));
}

[data-aos="zoom-in-left"] {
  @include transform(translate3d($aos-distance, 0, 0) scale(.6));
}

[data-aos="zoom-out"] {
  @include transform(scale(1.2));
}

[data-aos="zoom-out-up"] {
  @include transform(translate3d(0, $aos-distance, 0) scale(1.2));
}

[data-aos="zoom-out-down"] {
  @include transform(translate3d(0, -$aos-distance, 0) scale(1.2));
}

[data-aos="zoom-out-right"] {
  @include transform(translate3d(-$aos-distance, 0, 0) scale(1.2));
}

[data-aos="zoom-out-left"] {
  @include transform(translate3d($aos-distance, 0, 0) scale(1.2));
}




/**
 * Slide animations
 */

[data-aos^="slide"][data-aos^="slide"] {
  transition-property: -webkit-transform, -ms-transform, transform;

  &.aos-animate {
    @include transform(translate3d(0, 0, 0));
  }
}

[data-aos="slide-up"] {
  @include transform(translate3d(0, 100%, 0));
}

[data-aos="slide-down"] {
  @include transform(translate3d(0, -100%, 0));
}

[data-aos="slide-right"] {
  @include transform(translate3d(-100%, 0, 0));
}

[data-aos="slide-left"] {
  @include transform(translate3d(100%, 0, 0));
}




/**
 * Flip animations:
 * flip-left, flip-right, flip-up, flip-down
 */

[data-aos^="flip"][data-aos^="flip"] {
  transition-property: -webkit-transform, -ms-transform, transform;
}

[data-aos="flip-left"] {
  @include transform(perspective(2500px) rotateY(-100deg));
  &.aos-animate { @include transform(perspective(2500px) rotateY(0));}
}

[data-aos="flip-right"] {
  @include transform(perspective(2500px) rotateY(100deg));
  &.aos-animate { @include transform(perspective(2500px) rotateY(0));}
}

[data-aos="flip-up"] {
  @include transform(perspective(2500px) rotateX(-100deg));
  &.aos-animate { @include transform(perspective(2500px) rotateX(0));}
}

[data-aos="flip-down"] {
  @include transform(perspective(2500px) rotateX(100deg));
  &.aos-animate { @include transform(perspective(2500px) rotateX(0));}
}
