// Generate Duration && Delay

// Changes to the plugin
// 1. use of additional variables for simpler syntax
// 2. `body[data-aos-delay]` for global delay
[data-aos] {
  @include backface-visibility(hidden);
  $interval: 100;

  @for $i from 1 through 20 {
    $ms: $i * $interval;

    body[data-aos-duration="#{$ms}"] &,
    &[data-aos][data-aos-duration="#{$ms}"] {
      transition-duration: #{$ms}ms;
    }

    body[data-aos-delay="#{$ms}"] &,
    &[data-aos][data-aos-delay="#{$ms}"] {
      transition-delay: 0;

      &.aos-animate {
        transition-delay: #{$ms}ms;
      }
    }
  }
}
